<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camel.auth.dao.SysMenuDao">

    <resultMap id="BaseResultMap" type="com.camel.auth.model.SysMenu">
        <id column="menu_id" property="menuId" jdbcType="INTEGER"></id>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="url" property="url" jdbcType="VARCHAR"></result>
        <result column="type" property="type" jdbcType="INTEGER"></result>
        <result column="icon" property="icon" jdbcType="VARCHAR"></result>
        <result column="gmt_create" property="gmtCreate" jdbcType="DATE"></result>
        <result column="order_num" property="orderNum" jdbcType="INTEGER"></result>
        <result column="gmt_modifiled" property="gmtModifiled" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="findByRoleId" resultMap="BaseResultMap" parameterType="STRING">
        SELECT
        sys_menu.menu_id,
        sys_menu.parent_id,
        sys_menu.`name`,
        sys_menu.url,
        sys_menu.perms,
        sys_menu.type,
        sys_menu.icon,
        sys_menu.gmt_create,
        sys_menu.order_num,
        sys_menu.gmt_modifiled,
        sys_menu.`status`
        FROM sys_menu
        WHERE sys_menu.menu_id IN (
          SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId,jdbcType=VARCHAR}
        )


    </select>
</mapper>