<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camel.auth.dao.SysRoleDao">

    <resultMap id="BaseResultMap" type="com.camel.auth.model.SysRole">
        <id property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModifiled" column="gmt_modifiled" jdbcType="TIMESTAMP"/>
        <collection property="sysMenus" fetchType="eager" column="role_id"
                    select="com.camel.auth.dao.SysMenuDao.findByRoleId"></collection>
    </resultMap>

    <sql id="BASE_SQL">
        sys_role.role_id,
        sys_role.role_name,
        sys_role.role_sign,
        sys_role.remark,
        sys_role.gmt_create,
        sys_role.gmt_modifiled,
        sys_role.`status`
    </sql>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="STRING">
        SELECT <include refid="BASE_SQL"></include> FROM sys_role sys_role WHERE sys_role.role_id IN (
          SELECT role_id FROM sys_user_role WHERE user_id = #{userId,jdbcType=INTEGER}
        )
    </select>


</mapper>