spring:
  application:
    name: eshop-server

server:
  port: 1111

eureka:
  instance:
    hostname: ${APPLICATION_IP}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/