<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.bpm.mapper.WorkFlowMapper">
    <resultMap id="BaseResultMap" type="com.camel.bpm.model.WorkFlow">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="current_state" property="currentState" jdbcType="VARCHAR"></result>
        <result column="flowType" property="flowType" jdbcType="INTEGER"></result>
        <result column="creator" property="creator" jdbcType="INTEGER"></result>
        <result column="next_state" property="nextState" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="is_public" property="isPublic" jdbcType="INTEGER"></result>
        <result column="created_at" property="createdAt" jdbcType="VARCHAR"></result>
        <result column="is_del" property="isDel" jdbcType="INTEGER"></result>
        <result column="flow" property="flow" jdbcType="VARCHAR"></result>
        <result column="key" property="key" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT work_flow.id,
            work_flow.current_state,
            work_flow.flowType,
            work_flow.creator,
            work_flow.next_state,
            work_flow.`status`,
            work_flow.`name`,
            work_flow.is_public,
            work_flow.created_at,
            work_flow.is_del,
            work_flow.flow,
            work_flow.`key`
        FROM work_flow
        <where>
            <if test="name != null and name != ''" >AND work_flow.`name` LIKE CONCAT('%', #{name},'%')</if>
            <if test="status != null">AND work_flow.`status` = 1</if>
        </where>
    </select>
</mapper>
