<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>统一登陆页面</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles."/>
    <meta name="author" content="Vincent Garreau"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" media="screen" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="icon" href="/authserver/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div id="particles-js">
    <div class="login">
        <div class="login-top">
            统一登录页面
        </div>
        <form id="loginForm" th:action="@{/login}" name="f" method="post">
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="images/name.png"/></div>
                <div class="login-center-input">
                    <input type="text" name="username" id="username" value="" placeholder="请输入您的用户名"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入您的用户名'"/>
                    <div class="login-center-input-text">用户名</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="images/password.png"/></div>
                <div class="login-center-input">
                    <input type="password" name="password" id="password" value="" placeholder="请输入您的密码"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入您的密码'"/>
                    <div class="login-center-input-text">密码</div>
                </div>
            </div>
            <div style="text-align: center;color: red; display: none;" class="error_message">
                <span>用户名密码不正确，请确认后重新提交</span>
            </div>
            <div class="login-button">
                登陆
            </div>
        </form>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
    function hasClass(elem, cls) {
        cls = cls || '';
        if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
        return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
    }

    function addClass(ele, cls) {
        if (!hasClass(ele, cls)) {
            ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
        }
    }

    function removeClass(ele, cls) {
        if (hasClass(ele, cls)) {
            var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
            while (newClass.indexOf(' ' + cls + ' ') >= 0) {
                newClass = newClass.replace(' ' + cls + ' ', ' ');
            }
            ele.className = newClass.replace(/^\s+|\s+$/g, '');
        }
    }

    document.querySelector(".login-button").onclick = function () {
        $(".error_message").hide();
        var username = document.querySelector('#username').value;
        var password = document.querySelector('#password').value;

        var url = '/auth/oauth/token?grant_type=password&username=' + username + '&password=' + password;
        console.log(url);
        $.ajax({
            url: url,
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Basic YW5kcm9pZDphbmRyb2lk");
            },
            success: function (resp) {
                sessionStorage.setItem("access_token", resp['access_token']);
                sessionStorage.setItem("refresh_token", resp['refresh_token']);
                window.location.href = "/"
            },
            error: function (resp) {
                $(".error_message").show();
            }
        })
    }
</script>
</body>
</html>