<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ErrandMapper">
    <resultMap id="BaseResultMAp" type="com.camel.oa.model.Errand">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="eno" property="eno" jdbcType="VARCHAR"></result>
        <result column="uid" property="uid" jdbcType="INTEGER"></result>
        <result column="target" property="target" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="date_range_start" property="dateRangeStart" jdbcType="VARCHAR"></result>
        <result column="date_range_end" property="dateRangeEnd" jdbcType="VARCHAR"></result>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"></result>
        <result column="apply_date" property="applyDate" jdbcType="VARCHAR"></result>
        <result column="plan_type" property="planType" jdbcType="VARCHAR"></result>
        <result column="plan" property="plan" jdbcType="VARCHAR"></result>
        <result column="director" property="director" jdbcType="VARCHAR"></result>
        <result column="director_comment" property="directorComment" jdbcType="VARCHAR"></result>
        <result column="leader" property="leader" jdbcType="VARCHAR"></result>
        <result column="leader_comment" property="leaderComment" jdbcType="VARCHAR"></result>
        <result column="operator" property="operator" jdbcType="VARCHAR"></result>
        <result column="operator_comment" property="operatorComment" jdbcType="VARCHAR"></result>
        <result column="resources" property="resources" jdbcType="VARCHAR"></result>
        <result column="resources_comment" property="resourcesComment" jdbcType="VARCHAR"></result>
        <result column="manager" property="manager" jdbcType="VARCHAR"></result>
        <result column="manager_comment" property="managerComment" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="BASE_SQL">
        errand.id,
        errand.eno,
        errand.uid,
        errand.target,
        errand.date_range_start,
        errand.date_range_end,
        errand.`status`,
        errand.org_id,
        errand.apply_date,
        errand.plan_type,
        errand.plan,
        errand.director,
        errand.director_comment,
        errand.leader,
        errand.leader_comment,
        errand.operator,
        errand.operator_comment,
        errand.resources,
        errand.resources_comment,
        errand.manager,
        errand.manager_comment
    </sql>

    <select id="list" resultMap="BaseResultMAp">
        SELECT <include refid="BASE_SQL"></include>
        FROM errand
    </select>
</mapper>
